.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calendarForm {
    display: flex;
    justify-content: center;
}

.habit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0; /* Добавленное пространство между привычками */
}

.react-calendar {
    width: 100%;
    max-width: 400px; /* Размер по умолчанию для мобильных устройств */
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

@media (min-width: 768px) {
    .react-calendar {
        max-width: 700px; /* Более крупный размер для планшетов и десктопов */
    }
}

@media (min-width: 1024px) {
    .react-calendar {
        max-width: 900px; /* Ещё более крупный размер для больших десктопов */
    }
}
